[submodule "backend"]
	path = backend
	url = https://github.com/Thomas-Hoang-04/notiguide-be.git
[submodule "web"]
	path = web
	url = https://github.com/Thomas-Hoang-04/notiguide-admin.git
[submodule "client-web"]
	path = client-web
	url = https://github.com/Thomas-Hoang-04/notiguide-client.git
[submodule "transmitter"]
	path = transmitter
	url = https://github.com/Thomas-Hoang-04/notiguide-transmitter.git
[submodule "receiver-esp32"]
	path = receiver-esp32
	url = https://github.com/Thomas-Hoang-04/notiguide-receiver.git
	branch = esp32
[submodule "receiver-esp8266"]
	path = receiver-esp8266
	url = https://github.com/Thomas-Hoang-04/notiguide-receiver.git
	branch = esp8266
