[submodule "backend"]
	path = backend
	url = https://github.com/Thomas-Hoang-04/notiguide-be.git
[submodule "web"]
	path = web
	url = https://github.com/Thomas-Hoang-04/notiguide-admin.git
[submodule "client-web"]
	path = client-web
	url = https://github.com/Thomas-Hoang-04/notiguide-client.git
[submodule "transmitter"]
	path = transmitter
	url = https://github.com/Thomas-Hoang-04/notiguide-transmitter.git
